body{
    background: #333;
}
.cover-card {
    border: 2px solid white;
    background: silver;
    padding: 0px;
    margin: 0px;
    height:293px;
    width: 293px;
}
.cover-card > p {
    text-align: center;
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
}
.cover-card:hover > p {
    padding-top: 25%;
    background-color: rgba(6,6,6,0.3);
    color: white;
    text-shadow: 3px 3px 10px #000;
}
